@charset 'UTF-8';

.card-servico {
    max-width: 280px;
    max-height: 360px;
    width: 100%;
    height: 100%;
    border-top: 8px solid #027d51;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-servico-desab {
    margin: 10px 10px;
    background-color: rgba(90, 87, 87, 0.521);
    border-top: 8px solid rgba(90, 87, 87, 0.521);
}

button {
    margin: 4px;
}

.button-converter {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #027d51;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-converter-desab {
    background-color: rgba(90, 87, 87, 0.521);
    color: rgba(90, 87, 87, 0.521)
}

#toast {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: #fff;
    margin-top: 10px;
    z-index: 10;
    border-style: none;
    box-shadow: none;
}

.toast {
    display: flex;
    align-items: center;
    justify-content: center;
}